.btn {
  &:link,
  &:visited,
  &:focus {
    background-color: var(--color-primary);
    padding: 1.4rem 2rem;
    border-radius: 100rem;
    color: var(--color-grey-dark) !important;
  }
  &:hover {
    background-color: var(--color-primary-darker);
  }
}

.highlight {
  display: inline-block;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-image: var(--gradient-primary);
    z-index: -1;
    transform: scale(1.05) skew(15deg);
    opacity: 0.7;
  }
}

.link {
  cursor: pointer;
  border: none;
  padding: 3px;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  font-size: 1.6rem;
  font-weight: 500;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 6rem;
  &__photo {
    width: 80%;
  }
  &__text {
    font-size: 1.4rem;
    &--box {
      padding: 0 10rem;
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    &--icon {
      width: 4rem;
      height: 4rem;
      background-color: var(--color-primary);
      border-radius: 50%;
      opacity: 0.6;
    }
    &--title {
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}

.heading-primary {
  font-size: 5.5rem;
  letter-spacing: 0.5;
  line-height: 1.35;
  font-weight: 500;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 500;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-primary);
  text-transform: uppercase;
}
