@mixin init-section {
  opacity: 0;
  transform: translateY(8rem);
  transition: all 1s;
}
.section-hero {
  &__text-box {
    grid-column: full-start / col-end 5;
    padding: 8rem 4rem;
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
  }
  &__text {
    font-size: 2.4rem;
    font-weight: 400;
  }
  &__image-box {
    grid-column: col-start 6 / center-end;
    margin-bottom: 15rem;
  }
  &__image {
    width: 100%;
  }
}

.section-features {
  grid-column: center-start / center-end;
  @include init-section();
  margin-bottom: 15rem;
}
.section-operations {
  grid-column: center-start / center-end;
  margin-bottom: 15rem;
  @include init-section();
}
.section-testimonials {
  grid-column: center-start / center-end;

  // @include init-section();
  .testimonial {
    &__heading {
      font-size: 2.5rem;
      font-weight: 500;
    }
    &__text {
      font-size: 1.5rem;
    }
    &__author {
      display: grid;
      grid-template-columns: 8rem 1fr;
      column-gap: 2rem;
      margin-left: 2rem;
      &--photo {
        width: 100%;
        border-radius: 50%;
        grid-row: 1 / span 2;
      }
      &--name {
        font-size: 1.6rem;
        font-weight: 500;
      }
      &--location {
        font-size: 1.6rem;
      }
    }
  }
  margin-bottom: 15rem;
}

.section__title {
  padding: 4rem;
}
.section-animation {
  opacity: 1;
  transform: translateY(-8rem);
}
